.flights-container {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  align-items: center;
}

.titles-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

#table-container {
  width: 80%;
}
.departure-board {
  margin-bottom: 3rem;
}
