.journey-image-container {
  background-image: url(../assets/images/pricing.jpg);
  height: 53.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.section-title {
  margin-bottom: 30px;
}

.top-section-content {
  align-items: center;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.drop-down-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  gap: 3rem;
  width: 100%;
}

.result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  margin-top: 3rem;
  background-color: white;
}

.from-to {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 1rem;
  align-items: center;
  background-color: #ffcf33;
  margin-bottom: 1rem;
}

.result-ports {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.journey-cost {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcf33;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.stopover-dropdown-box {
  display: flex;
  justify-content: center;
}
