.journey-image-container {
  background-image: url(../assets/images/pricing.jpg);
  height: 53.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.section-title {
  margin-bottom: 60px;
}

.top-section-content {
  align-items: center;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.drop-down-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  gap: 3rem;
  width: 100%;
}

/* .calculate-journey {
  color: transparent;
  border: 2px solid blue;
} */

.result-box {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
  margin-top: 3rem;
  background-color: white;
  border: 2px solid pink;
}

.from-to {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  border: 2px solid red;
}

.result-ports {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid blue;
}

.journey-cost {
  display: flex;
  border: 2px solid lime;
  align-items: center;
}

.stopover-dropdown-box {
  border: 2px solid orange;
}
