.welcome-container {
  background-image: url(../../assets/images/background-image.jpg);
  height: 50rem;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titles-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  color: white;
  font-size: 3rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-subheading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
